.oculto{
    display: none;
}

.main-title{
    padding-left: 20px;
    color: #022600;
}

/*content*/
.main-wrapper{
    overflow: auto;
}

/*sidebar*/
.wrapper-side-bar{
    float: left;
    width: 20%;
}

.wrapper-side-bar div{
    font-size: 1.2rem;
}

.side-bar{
    overflow: auto;
    padding: 20px 0;
}

.side-bar-icon{
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 3px;
}

.side-bar-option{
    float: left;
    width: 75%;
    text-align: left;
}

.side-bar-selected{
    overflow: auto;
    padding: 20px 0;
    background-color: #487252;
}

.side-bar-selected a{
    color: white;
}

.side-bar a{
    color: black;
}

.side-bar:hover{
    background-color: #48725231;
}

/*select que sustituye el sidebar en movil*/
.select-side-bar{
    display: none;
}

.select-side-bar select{
    width: 90%;
    border: solid 1px #487252;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
}

.wrapper-cont{
    float: left;
    width: 80%;
}

/*tabs*/
.tab-wrapper{
    overflow: auto;
    text-align: center;
    padding: 10px 30%;
}

.tab-wrapper div{
    float: left;
    width: 50%;
    padding: 15px 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-selected{
    background-color: #487252;
}

.tab-selected a{
    color: white;
}

.tab-unselected{
    background-color: #48725231;
}

.tab-unselected a{
    color: black;
}

.wrapper-form{
    padding: 20px 20%;
    overflow: auto;
    box-sizing: border-box;
}

.wrapper-form h3{
    margin: 0;
    font-size: 1.2rem;
}

.input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px 4px 0px;
    font-size: 1.2rem;
}

.wrapper-form textarea{
    float: left;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 1.2rem;
}

.select-form{
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

.form-mitad{
    float: left;
    width: 50%;
    padding: 5px 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.form-full{
    float: left;
    width: 100%;
    padding: 5px 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
}


.submit{
    text-align: center;
    padding: 10px 40px;
    margin: 20px 40%;
    background-color: #487252;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

@media(max-width: 920px){

    .side-bar a{
        font-size: 1rem;
    }

    .side-bar-selected a{
        font-size: 1rem;
    }
}


/*cambios para movil*/
@media(max-width: 750px){

    /*side bar*/
    .wrapper-side-bar{
        display: none;
    }

    .select-side-bar{
        display: block;
        text-align: center;
    }

    .wrapper-cont{
        width: 100%;
    }

    .tab-wrapper div{
        font-size: 1rem;
    }

    .form-mitad h3{
        font-size: 1rem;
    }

    .form-full h3{
        font-size: 1rem;
    }

    .select-form{
        font-size: 1rem;
    }

    .wrapper-form{
        padding: 20px 10%;
    }

    .submit{
        padding: 5px 20px;
        margin: 20px 40%;
    }
    
}
